<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<h1>Players</h1>
<ul>
  <% @team.players.each do |player| %>
    <li><%= "#{player.name} - #{player.email} (#{player.age})" %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
