<%= content_tag :div, class: "nested-fields", data: { new_record: f.object.new_record? } do %>
  <div>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :age %>
    <small><%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %></small>
    <%= f.hidden_field :_destroy %>
  </div>
<% end %>
